body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  text-transform: uppercase;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-navigation a {
  color: inherit;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  color: #fb565a;
}

.main-navigation a[href]:active {
  opacity: 0.3;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #000000;
}

.slider {
  background-color: #eeeeee;
}

.slider-item h3 {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.services-item h3 {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item:nth-child(2) .services-button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .services-button:hover,
.services-item:nth-child(2) .services-button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .services-button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .services-button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .services-button:hover,
.services-item:nth-child(3) .services-button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .services-button:active {
  background-color: #e5a722;
}
