body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  padding: 16px 0;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  /* outline: 1px solid red; */
}

.main-header {
  padding-top: 50px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-end;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo img {
  display: block;
  width: 160px;
  height: 65px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-navigation a {
  color: inherit;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  color: #fb565a;
}

.main-navigation a[href]:active {
  opacity: 0.3;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #000000;
}

.site-navigation {
  display: flex;
  width: 600px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  margin-right: 47px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;

  height: 2px;

  background-color: #fb565a;
}

.user-navigation {
  display: flex;
  max-width: 160px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: right;
}

.user-cart {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user-cart-current {
  position: relative;
}

.user-cart-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;

  height: 2px;

  background-color: #fb565a;
}

.slider {
  background-color: #eeeeee;
}

.slider .container {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls-list {
  position: absolute;
  bottom: 88px;
  left: 50%;
  z-index: 100;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  transform: translateX(-50%);
}

.slider-controls-item label {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls-item label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

#product-1:checked ~ .slider-controls-list .slider-controls-item:nth-child(1) label::before,
#product-2:checked ~ .slider-controls-list .slider-controls-item:nth-child(2) label::before,
#product-3:checked ~ .slider-controls-list .slider-controls-item:nth-child(3) label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-item h3 {
  max-width: 550px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.slider-button {
  width: 240px;
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.services::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: #eeeeee;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  width: 300px;
  padding-top: 170px;
  margin-right: 100px;

  background-repeat: no-repeat;
  background-position: top center;
}

.services-item:nth-child(1) {
  background-image: url("../img/bg-services-1.png");
}

.services-item:nth-child(2) {
  background-image: url("../img/bg-services-2.png");
}

.services-item:nth-child(3) {
  background-image: url("../img/bg-services-3.png");
  margin-right: 0;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 32px;
  padding: 0;
}

.services-button {
  width: 160px;
}

.services-item:nth-child(2) .services-button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .services-button:hover,
.services-item:nth-child(2) .services-button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .services-button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .services-button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .services-button:hover,
.services-item:nth-child(3) .services-button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .services-button:active {
  background-color: #e5a722;
}

.about {
  padding-top: 42px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  position: relative;
}

.about::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: #eeeeee;
}

.about-left {
  width: 660px;
}

.about-right {
  width: 360px;
}

.about-lead {
  margin: 0;
  margin-top: 36px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.about-list-intro {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.about-list-intro b {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-item {
  position: relative;
  padding-left: 37px;
  margin-bottom: 23px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #fb565a;
  width: 25px;
  height: 2px;
  top: 50%;
}

.about-logo {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.about-table-intro {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  text-align: center;
}

.about-table-intro b {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-table {
  border-collapse: collapse;
  position: relative;
}

.about-table th {
  line-height: 18px;
  text-align: left;
  position: absolute;
  bottom: -48px;
  width: 105px;
  left: auto;
}

.about-table th:nth-child(2) {
  left: 119px;
}

.about-table th:nth-child(3) {
  left: 238px;
}

.about-table td {
  width: 117px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-table-percent {
  font-size: 25px;
  position: relative;
  top: -15px;
}

.partners {
  padding-top: 48px;
  padding-bottom: 36px;
  position: relative;
}

.partners::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: #eeeeee;
}

.partners-list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 40px;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners-item:nth-child(1) {
  padding-top: 7px;
}

.partners-item:nth-child(3) {
  margin-right: 25px;
}

.partners-item:nth-child(4) {
  padding-top: 7px;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.contacts-info {
  width: 320px;

  outline: 1px solid green;
}

.contacts-name {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-address,
.contacts-phone {
  margin: 0;
  padding: 0;

  line-height: 18px;
  color: #666666;
}

.contacts-map img {
  display: block;
  margin: 0 auto;
}

.main-footer .social {
  display: flex;
}

.social-list {
  width: 260px;
  min-height: 40px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;

  outline: 1px solid green;
}

.social-link {
  color: #ffffff;

  background-color: #e1e1e1;
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-text {
  width: 560px;
  margin: 0;
  padding: 0;

  line-height: 22px;

  outline: 1px solid green;
}

.social-text b {
  display: block;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 760px;
  padding-top: 70px;
  padding-right: 100px;
  padding-bottom: 85px;
  padding-left: 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  transform: translate(-50%, -50%);
}

.modal-feedback h2 {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form p {
  padding: 0;
}

.feedback-name {
  width: 360px;
  margin: 0;
  margin-right: auto;
}

.feedback-email {
  width: 360px;
  margin: 0;
}

.feedback-text {
  width: 100%;
  margin: 0;
}

.feedback-form label {
  display: block;

  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  color: #444444;

  background-color: transparent;
  border: 2px solid #d7dcde;
  opacity: 0.5;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #000000;
  outline: none;
  opacity: 1;
}

.feedback-form input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
  opacity: 1;
}

.inner-page h1 {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.inner-page .container {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 260px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-group legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.price-controls label {
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  font: inherit;
  color: #283136;

  background-color: #eeeeee;
  border: none;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-item label {
  line-height: 20px;

  cursor: pointer;
}

.filter-item input:not(:disabled):hover + label {
  color: #000000;
}

.filter-item input:disabled + label {
  cursor: default;
  opacity: 0.3;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.catalog {
  width: 760px;
}

.catalog-header {
  display: flex;
}

.catalog-sort {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sort-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sort-item a[href]:hover,
.sort-item a[href]:focus {
  opacity: 0.6;
}

.sort-item a[href]:active {
  opacity: 1;
}

.sort-item-current a {
  opacity: 1;
}

.sort-direction-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-direction-item a {
  font-size: 14px;
  line-height: 18px;
  color: #a6a6a6;
  text-transform: uppercase;

  opacity: 0.2;
}

.sort-direction-item-current a {
  color: #000000;

  opacity: 1;
}

.sort-direction-item a[href]:hover,
.sort-direction-item a[href]:focus {
  opacity: 1;
}

.sort-direction-item a[href]:active {
  color: #000000;

  opacity: 1;
}

.sort-direction-link svg {
  fill: currentColor;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-right: auto;

  border: 1px solid rgba(0, 1, 1, 0.1);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover {
  border: 1px solid rgba(77, 77, 77, 0.1);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-info {
  background-color: #eeeeee;
}

.catalog-item-info h3 {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-info a {
  color: inherit;
}

.catalog-description {
  margin: 0;
  padding: 0;

  line-height: 18px;
  color: #666666;
}

.catalog-button {
  margin: 0;
  padding: 0;
}

.catalog-item img {
  display: block;
}

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.pagination-item a[href] {
  background-color: #eeeeee;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
  background-color: #dfdfdf;
}

.pagination-item a[href]:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
}
