body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  padding: 16px 0;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;

  /* outline: 1px solid red; */
}

.main-header {
  padding-top: 50px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-end;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo img {
  display: block;
  width: 160px;
  height: 65px;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.main-navigation a {
  color: inherit;
}

.main-navigation a[href]:hover,
.main-navigation a[href]:focus {
  color: #fb565a;
}

.main-navigation a[href]:active {
  opacity: 0.3;
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #000000;
}

.site-navigation {
  display: flex;
  width: 600px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  margin-right: 47px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;

  height: 2px;

  background-color: #fb565a;
}

.user-navigation {
  display: flex;
  max-width: 160px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: right;
}

.user-cart {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.user-cart-current {
  position: relative;
}

.user-cart-current::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;

  height: 2px;

  background-color: #fb565a;
}

.slider {
  background-color: #eeeeee;
}

.slider .container {
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls-list {
  position: absolute;
  bottom: 88px;
  left: 50%;
  z-index: 10;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  transform: translateX(-50%);
}

.slider-controls-item label {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls-item label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

#product-1:checked ~ .slider-controls-list .slider-controls-item:nth-child(1) label::before,
#product-2:checked ~ .slider-controls-list .slider-controls-item:nth-child(2) label::before,
#product-3:checked ~ .slider-controls-list .slider-controls-item:nth-child(3) label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item {
  display: none;
  padding-top: 78px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-item h3 {
  max-width: 550px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.slider-button {
  width: 240px;
}

.services {
  position: relative;

  padding-top: 80px;
  padding-bottom: 80px;
}

.services::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -2px;
  left: 20px;

  height: 2px;

  background-color: #eeeeee;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
  padding-top: 170px;

  background-repeat: no-repeat;
  background-position: top center;
}

.services-item:nth-child(1) {
  background-image: url("../img/bg-services-1.png");
}

.services-item:nth-child(2) {
  background-image: url("../img/bg-services-2.png");
}

.services-item:nth-child(3) {
  margin-right: 0;

  background-image: url("../img/bg-services-3.png");
}

.services-item h3 {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 32px;
  padding: 0;
}

.services-button {
  width: 160px;
}

.services-item:nth-child(2) .services-button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .services-button:hover,
.services-item:nth-child(2) .services-button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .services-button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .services-button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .services-button:hover,
.services-item:nth-child(3) .services-button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .services-button:active {
  background-color: #e5a722;
}

.about {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 65px;
}

.about::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -2px;
  left: 20px;

  height: 2px;

  background-color: #eeeeee;
}

.about-left {
  width: 660px;
}

.about-right {
  width: 360px;
}

.about-lead {
  margin: 0;
  margin-top: 36px;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.about-list-intro {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.about-list-intro b {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-item {
  position: relative;

  margin-bottom: 23px;
  padding-left: 37px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-logo {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.about-table-intro {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  text-align: center;
}

.about-table-intro b {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-table {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  border-spacing: 0 10px;
}

.about-table thead {
  order: 1;
  width: 100%;
}

.about-table tbody {
  width: 100%;
}

.about-table th {
  width: 117px;

  line-height: 18px;
  text-align: left;
}

.about-table td {
  width: 117px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-table-percent {
  font-size: 25px;
  vertical-align: super;
}

.partners {
  position: relative;

  padding-top: 48px;
  padding-bottom: 36px;
  margin-bottom: 25px;
}

.partners::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: -2px;
  left: 20px;

  height: 2px;

  background-color: #eeeeee;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 30px;

  list-style: none;
}

.partners-item:nth-child(1) {
  padding-top: 7px;
}

.partners-item:nth-child(3) {
  margin-right: 25px;
}

.partners-item:nth-child(4) {
  padding-top: 7px;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.main-footer {
  padding-top: 60px;
  position: relative;
}

.contacts {
  height: 416px;

  background-color: transparent;
}

.contacts-info {
  position: absolute;
  top: 112px;
  width: 220px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  background-color: #ffffff;
}

.contacts-name {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-address,
.contacts-phone {
  margin: 0;
  padding: 0;

  line-height: 18px;
  color: #666666;
}

.contacts-address {
  margin-right: 10px;
  margin-bottom: 19px;
}

.contacts-phone {
  margin-bottom: 37px;
}

.contacts-map {
  position: absolute;

  left: 0;
  right: 0;
  height: 416px;

  /* transform: translateX(-50%); */
}

.contacts-map::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 57%;

  width: 231px;
  height: 190px;

  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
}

.contacts-map img {
  position: absolute;
  z-index: -1;
  display: block;
  width: 1440px;
  height: 416px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts-map iframe {
  width: 100%;
}

.main-footer .social {
  display: flex;
  align-items: center;
  padding-top: 65px;
  padding-bottom: 69px;
}

.social-list {
  display: flex;
  width: 260px;
  margin: 0;
  margin-right: 140px;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  width: 79px;
  height: 79px;

  color: #ffffff;

  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-link-fb {
  background-image: url("../img/icon-fb.svg");
}

.social-link-vk {
  background-image: url("../img/icon-vk.svg");
}

.social-link-inst {
  background-image: url("../img/icon-inst.svg");
}

.social-link:hover,
.social-link:focus {
  background-color: #e74246;
}

.social-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-text {
  width: 560px;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  line-height: 22px;
}

.social-text b {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 760px;
  padding-top: 70px;
  padding-right: 100px;
  padding-bottom: 85px;
  padding-left: 100px;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  transform: translate(-50%, -50%);
}

.modal-show {
  display: block;
  z-index: 15;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 2px;

  width: 27px;
  height: 5px;

  background-color: #fb565a;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-feedback h2 {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
}

.feedback-form p {
  padding: 0;
}

.feedback-name {
  width: 360px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 35px;
}

.feedback-email {
  width: 360px;
  margin: 0;
}

.feedback-text {
  width: 100%;
  margin: 0;
  margin-bottom: 47px;
}

.feedback-form textarea {
  display: block;
  min-height: 90px;

  resize: vertical;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 18px 16px;

  color: #444444;

  background-color: transparent;
  border: 2px solid #d7dcde;
  opacity: 0.5;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid #000000;
  outline: none;
  opacity: 1;
}

.feedback-form input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
  opacity: 1;
}

.feedback-button {
  width: 260px;
}

.inner-page-title {
  background-color: #eeeeee;
}

.inner-page h1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 107px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.inner-page .container {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}

.filter {
  width: 260px;
}

.filter-group {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-group-price {
  margin-bottom: 54px;
}

.filter-group-grid {
  margin-bottom: 44px;
}

.filter-group-features {
  margin-bottom: 45px;
}

.filter-group legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter-group-price legend {
  margin-bottom: 49px;
}

.filter-group-grid legend,
.filter-group-features legend {
  margin-bottom: 14px;
}

.range-filter {
  width: 100%;
}

.range-controls {
  position: relative;

  height: 2px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;

  background-color: #eeeeee;
  border-radius: 5px;
}

.range-scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-bar {
  width: 70%;
  height: 2px;

  background-color: #00ca74;
}

.range-marker {
  position: absolute;
  top: 31px;

  width: 20px;
  height: 23px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  border: none;
  cursor: pointer;
}

.range-marker-min {
  left: 18px;
}

.range-marker-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  font: inherit;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
}

.filter-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-item label {
  position: relative;

  padding-left: 36px;

  line-height: 20px;

  cursor: pointer;
}

.filter-item input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: auto;
  left: 0;

  width: 17px;
  height: 17px;

  background-color: transparent;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-item input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5.5px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-item input[type="radio"] + label:hover::before,
.filter-item input[type="radio"]:focus + label::before,
.filter-item input[type="radio"] + label:hover::after,
.filter-item input[type="radio"]:focus + label::after {
  opacity: 1;
}

.filter-item input[type="radio"]:not(:disabled) + label:hover,
.filter-item input[type="radio"]:not(:disabled):focus + label {
  color: #000000;
}

.filter-item input:disabled + label {
  cursor: default;
  opacity: 0.3;
}

.filter-item input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-item input[type="checkbox"]:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-item input[type="checkbox"] + label:hover::before,
.filter-item input[type="checkbox"]:focus + label::before {
  opacity: 1;
}

.filter-item input[type="radio"]:disabled + label::before,
.filter-item input[type="radio"]:disabled + label::after,
.filter-item input[type="checkbox"]:disabled + label::before {
  opacity: 0.25;
}

.filter-button {
  width: 100%;

  color: #000000;

  background-color: #eeeeee;
}

.catalog {
  width: 760px;
}

.catalog-header {
  display: flex;
  margin-bottom: 49px;
}

.catalog-sort {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.sort-item {
  margin-right: 25px;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-item a {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sort-item a[href]:hover,
.sort-item a[href]:focus {
  opacity: 0.6;
}

.sort-item a[href]:active {
  opacity: 1;
}

.sort-item-current a {
  opacity: 1;
}

.sort-direction-list {
  display: flex;
  justify-content: flex-end;
  width: 60px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-direction-item {
  margin-left: 18px;
}

.sort-direction-item:first-child {
  margin-left: 0;
}

.sort-direction-item a {
  font-size: 14px;
  line-height: 18px;
  color: #a6a6a6;
  text-transform: uppercase;

  opacity: 0.2;
}

.sort-direction-item-current a {
  color: #000000;

  opacity: 1;
}

.sort-direction-item a[href]:hover,
.sort-direction-item a[href]:focus {
  opacity: 1;
}

.sort-direction-item a[href]:active {
  color: #000000;

  opacity: 1;
}

.sort-direction-link svg {
  fill: currentColor;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 358px;
  margin-right: auto;
  margin-bottom: 30px;

  background-color: transparent;
  border: 1px solid transparent;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.catalog-item::before {
  content: "";

  display: block;
  width: 360px;
  height: 40px;
  margin: 0;
  padding: 0;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item:hover {
  border-color: rgba(77, 77, 77, 0.1);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-info {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  width: 230px;
  padding-top: 26px;
  padding-right: 65px;
  padding-bottom: 43px;
  padding-left: 65px;

  text-align: center;

  background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-info {
  display: block;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-info h3 {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-info a {
  color: inherit;
}

.catalog-description {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;

  line-height: 18px;
  color: #666666;
}

.catalog-item:nth-child(2) .catalog-description {
  width: 230px;
}

.catalog-item:nth-child(3) .catalog-description {
  width: 190px;
}

.catalog-item:nth-child(5) .catalog-description {
  width: 220px;
}

.catalog-item:nth-child(6) .catalog-description {
  width: 220px;
}

.catalog-button {
  width: 200px;
  margin: 0 auto;
  padding: 16px 0;
}

.catalog-item-image {
  width: 360px;
  height: 576px;
}

.catalog-item-image img {
  display: block;
  width: 358px;
  height: 574px;

  border: 1px solid rgba(0, 1, 1, 0.1);
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  border: 3px solid transparent;
}

.pagination-item a[href] {
  background-color: #eeeeee;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
  background-color: #dfdfdf;
}

.pagination-item a[href]:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
}

.pagination-item-next a {
  width: 260px;

  text-transform: uppercase;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay-show {
  display: block;
}
